* {
    margin: 0;
    font-family: Roboto , sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
a:hover{
    color: #d3d5d8;
}

nav,
footer,
section {
    padding: 0 150px;
}

body,
nav,
.navigation-options,
nav + section, /*Main text and image container on the header*/
.header-container,
.header-text,
.images-array,
.costumer-opinion,
.call-to-action
 { /*Containers with flex display*/
    display: flex;
}
body,
.costumer-opinion,
.header-text { /*Containers with column flex direction*/
    flex-direction: column;
}

/*---HEADER SECTION---*/
nav {
    padding-top: 16px;
    align-items: center;
}
nav img {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
    flex: auto;
}
.navigation-options {
    justify-content: space-around;
    margin-left: auto;
    flex: 0 0 375px;
    justify-content: space-between;
}

header {
    background-color: #1F2937;
}

.header-container {
    padding-top: 58px; 
    padding-bottom: 58px; 
    justify-content: space-between;
}

.header-container img {
    color: #F9FAF8;
    background-color: grey;
    text-align: center;
    align-self: center;
    flex: 0 0 auto;
}
header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
header p{
    font-size: 18px;
    color: #E5E7EB;
}
.header-text{
    flex: 1 1 50%;
    justify-content: space-between;
}
header button {
    width: 100px;
    height: 30px;
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}


/*---CONTENT SECTION---*/

h2 {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

.first-section{
    padding-top: 32px;
    padding-bottom: 70px;
}
.images-array {
    padding-top: 24px;
    text-align: center;
}
figure img {
    border: 3px solid #3882F6;
    border-radius: 8px;
}
figcaption {
    color: grey;
}

.costumer-opinion {
    padding-top: 58px;
    padding-bottom: 58px;
    font-size: 32px;
    font-style: italic;
    background-color: #E5E7EB;
}
.costumer-username {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    align-self: flex-end;
    
}

.call-to-action{
    margin: 58px 150px;
    padding: 29px 58px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
}
.call-to-action button {
    margin-left: auto;
    flex: 0 0 100px;
    height: 30px;
    align-self: center;
    border: 3px solid white;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

/*---FOOTER SECTION---*/

footer {
    padding: 29px;
    color: #E5E7EB;
    font-size: 12px;
    text-align: center;
    background-color: #1F2937;
}