* {
    margin: 0;
    font-family: Roboto , sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
a:hover{
    color: #d3d5d8;
}

nav,
footer,
section {
    padding: 0 150px;
}

body,
nav,
nav + section, /*Main text and image container on the header*/
.header-text,
.images-array
 { /*Containers with flex display*/
    display: flex;
}
body,
.header-text { /*Containers with column flex direction*/
    flex-direction: column;
}

body {
    justify-content: space-between;
}

/*---HEADER SECTION---*/

nav img {
    margin-right: auto;
    font-weight: bold;
}

nav + section > img { /*Header main image*/
    flex: none;
}

header {
    background-color: #1F2937;
}

.header-container {
    padding-top: 58px; 
    padding-bottom: 58px; 
}

header img {
    font-size: 24px;
    color: #F9FAF8;
}
header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

header p{
    font-size: 18px;
    color: #E5E7EB;
}

/*---CONTENT SECTION---*/

h2 {
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
}

.first-section{
    padding-top: 32px;
    padding-bottom: 70px;
}
.images-array {
    padding-top: 24px;
    text-align: center;
}

.costumer-opinion {
    padding-top: 58px;
    padding-bottom: 58px;
    font-size: 32px;
    font-style: italic;
    background-color: #E5E7EB;
}
.costumer-username {
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.call-to-action{
    margin: 58px 150px;
    padding: 29px 58px;
    border-radius: 8px;
    background-color: #3882F6;
}

/*---FOOTER SECTION---*/

footer {
    padding: 29px;
    color: #E5E7EB;
    font-size: 12px;
    text-align: center;
    background-color: #1F2937;
}